<tr {{bindAttr class="isOn:info"}}>
  <td class="stationId">
    {{#if creating}}
      {{view Ember.TextField valueBinding="id" type="text" action="save" size="2" classNames="station-id"}}
    {{else}}
      {{id}}
    {{/if}}
  </td>

  <td class="stationName">
    {{#if editing}}
      {{view Ember.TextField valueBinding="name" type="text" action="save"}}
    {{else}}
      {{#if unitEditing}}
        <a href="" {{action editStation}}>{{name}} <i class="icon-pencil"></i></a>
      {{else}}
        {{#if desired_state}}
          <div class="right">
            {{render "spinner" this}}
          </div>
        {{/if}}
        {{name}}
        {{#if real_state}}
          <div class="progress progress-striped active">
            <div class="bar" {{bindAttr style="progressStyle"}}></div>
            &nbsp; {{timeLeft}} left
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </td>

  {{#unless unitEditing}}
    <td class="stationAction" {{action toggleStation}}>
      {{#unless creating}}
        {{#if real_state}}
          on
        {{else}}
          off
        {{/if}}
      {{/unless}}
    </td>
  {{/unless}}

  {{#if unitEditing}}
    <td class="stationDelete">
      <a href="" {{action delete}}><i class="icon-trash"></i></a>
    </td>
  {{/if}}
</tr>

